body{
  background-color: transparent;;
  font-family: 'Open Sans', sans-serif;

}
.background{

  /*background: #444444 url("../img/chairs.jpg") no-repeat scroll 0 0;
  overflow: hidden;*/
  background-attachment: scroll;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
  padding:0px;
  background-image:url("../img/chairs.jpg");
  background-size:cover;
  z-index:-1;
}

.wrapper{
  width: 50%;
  height: 100%;
  background-color: transparent;
  margin: auto;
  z-index: 0;
  text-align: center;
  position: relative;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: transparent;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}
header h1,
header nav {
    display: inline-block;
    height: 100%;
}
header::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
header a{
  text-decoration: none;
  color: #d5cfcf;
  font-size: 0.8em;
  margin: 0 20px;
}
header a:hover,
header a:focus{
  color: #f8f8f8;
  background-color:transparent;
  text-decoration: none;
}

.name{
  color: #d5cfcf;
  font-size: 4em;
  padding-bottom: 1em;
}

.resume{
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  position: relative;
  margin-bottom: 50px;
}

.left-align{
  float: left;
  text-align: left;
  height: 100%;
}

.right-align{
  float: right;
  text-align: right;
  height: 100%;
}

.section {
  text-align: left;
  /*padding-bottom: 1.5em;*/
  color: #d5cfcf;
  display: inline-block;
  padding: 2%;
  width: 100%;
}

.section-header{
  font-size: 2em;
  font-weight: 600;
  padding: .5em 1em .5em 1em;
  display: block;
  width: 100%;
}

.description{
  padding: 0 2em;
  padding-bottom: 1em;
}


.exp-title{
  font-size: 1.33em;
  padding: 10px 0 10px 0;
  font-weight: 500;
}
.date{
  display: block;
  padding: 10px 0 10px 0;
  font-style: italic;
}
.exp-desc{
  padding-left: 20px;
  padding-bottom: 10px;
}
#skills{
  padding-top: 0em;
}
