*{
  background-color: transparent;;
  font-family: 'Open Sans', sans-serif;
  color: #d5cfcf;
}
.background{
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
  padding:0px;
  background-image:url("../img/chairs.jpg");
  background-size:cover;
  z-index:-1;
}

.wrapper{
  width: 66%;
  height: 100%;
  background-color: transparent;;
  margin: auto;
  z-index: 0;
  text-align: center;
  position: relative;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: transparent;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
}
header h1,
header nav {
    display: inline-block;
    height: 100%;
}
header::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
header a{
  text-decoration: none;
  color: #d5cfcf;
  font-size: 0.85em;
  margin: 0 20px;
}
header a:hover,
header a:focus{
  color: #fafafa;
  background-color:transparent;
  text-decoration: none;
}

.active{
  color: #fafafa;
}

.name{
  font-size: 5em;
  color: #d5cfcf;
  padding-bottom: 2em;
}

.summary{
  font-size: 2em;
  color: #d5cfcf;
}

.summary a,
.summary a:hover,
.summary a:focus{
  color: #d5cfcf;
  text-decoration: none;
}
