*{
  font-family: Verdana;
  overflow: hidden;
  color:white;
}

.background{
  z-index: 4;
  background-color: transparent;
  background-image: url('img/dover.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important
  background-repeat: no-repeat !important;
  background-attachment: fixed;

  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

}
.background_tint{
  
  z-index: 3;
  background: rgba(0,0,0,0.7);
  min-height: 100%;
  width: 100%;
  height: auto;
  position:fixed;
  top:0;
  left: 0;

}
.minitron{
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100%;
  text-align: center;
}

.button{
  border:none;
  color:white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  display: inline-block;
  font-size: 48px;
  text-decoration: none;
}


#home_button{
  background-color: #ff6200;
  width: 85%;
  height: 40%;
}
#home_button:hover{
  background-color: #888888;
}

#spacer1{
  width: 100%;
  height: 1px;
  padding:1%;
  text-align: center;
}

#contact{
  background-color: #268e00;
  width: 85%;
  height: 40%;
  text-align: center;
  margin:0 auto;
}

#info_aligner{
  text-align: left;
  display: inline-block;
}

p{
  font-size: 24px;
}

p a{
  text-decoration: none;
  color: white;
}
